@using BookStore.Domain.Concrete
@{
    var db = new EFDbContext();
}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Книжный путь | @ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url("../..//Content/Test.png");
            background-size: cover;
            background-attachment: fixed;
        }

        .navbar-brand span, .navbar-brand div {
            font-size: 1.5rem;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: rgba(255, 255, 255, 0.75);
        }

            .navbar-dark .navbar-nav .nav-link:hover {
                color: rgba(255, 255, 255, 1);
            }

        .footer {
            background-color: rgba(0, 0, 0, 0.85);
            color: white;
            padding: 10px 0;
            text-align: center;
        }

        .container-fluid {
            padding-top: 20px;
        }

        #categories {
            margin-top: 20px;
        }

        .dropdown-menu a {
            color: black;
        }

            .dropdown-menu a:hover {
                background-color: #f8f9fa;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="@Url.Action("List", "Book")">
            <span class="d-none d-sm-block">Книжный путь</span>
            <div class="d-block d-sm-none">Book</div>
            <div class="d-block d-sm-none">Store</div>
        </a>
        <div class="navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Cooperation", "Menu")">Сотрудничество</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contacts", "Menu")">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Support", "Menu")">Поддержка</a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Admin")">Панель администратора</a>
                    </li>
                }
                <li class="nav-item d-flex justify-content-center align-items-center">
                    @Html.Action("SearchPanel", "Nav", new { horizontalNav = true })
                </li>


            </ul>
            <form class="form-inline mt-2 mt-md-0">
                @Html.Action("Summary", "Cart")
            </form>
            @if (User.IsInRole("admin") || User.IsInRole("user"))
            {
                <div class="dropdown form-inline mt-2 mt-md-0" style="margin-right:110px">
                    <a class="btn btn-outline-light" href="@Url.Action("Index","Account")" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="far fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Index","Account")">Профиль</a>
                        <a class="dropdown-item" href="@Url.Action("Purchases", "Account", new { db.Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().UserId })">Заказы</a>
                        <a class="dropdown-item" href="@Url.Action("EditProfile", "Account", new { db.Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().UserId })">Редактировать</a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Auth")" style="color:red">Выйти</a>
                    </div>
                </div>
            }
            else
            {
                <form class="form-inline mt-2 mt-md-0" style="margin-right:110px">
                    <a class="btn btn-outline-light my-2 my-sm-0" href="@Url.Action("Login","Auth")"><i class="far fa-user-circle"></i></a>
                </form>
            }

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-3 col-md-3 d-none d-sm-block">
                @Html.Action("Menu", "Nav")
            </div>
            <div id="results" class="col-12 col-sm-9 col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer class="footer fixed-bottom" style="padding: 0px; background-color: rgba(0, 0, 0, 0.85); color: white; text-align: center;">
        All rights reserved. Website Corp. &copy; 2024
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').click(function (e) {
                if ($(document).width() > 768) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    if (url !== '#') {
                        window.location.href = url;
                    }
                }
            });
        });
    </script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/LayoutStyles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a6998d7322.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/scripts/jquery-3.4.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <link href="~/Content/BackgroundFormStyles.css" rel="stylesheet" />
</body>
</html>
